header img{
  border-radius: 50%;
  width: 60%;
}
.social li a i{
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

.social li{
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
}

.list-inline{
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}